/testapp/
/testbackend
/heroku
part1/courseinfo/node_modules
part1/unicafe/node_modules
part1/anecdotes/node_modules
part2/courseinfo/node_modules
part2/phonebook/node_modules
part2/countrydata/node_modules
part2/countrydata/.env
part3/phonebook_backend/node_modules
part3/phonebook_backend/.git
part3/phonebook_backend/.gitignore
part3/phonebook_backend/build
